<div class="ogb__menu__bottom ogb__menu__bottom--sb-dboard">
    <div class="ogb__menu__logo ogb__menu__logo--sb-dboard">
      <figure class="ogb__menu__logo__svg ogb__menu__logo__svg--sb-dboard"></figure>
      <!-- OGB.Menu.Product -->
      <div class="ogb__menu__product ogb__menu__product--sb-dboard">
        <span class="ogb__menu__product__label ogb__menu__product__label--sb-dboard">SFDB</span>
      </div>
      <!-- end OGB.Menu.Product -->
    </div>
</div>
<!-- OGB.Menu.Items -->
<div class="ogb__menu__items ogb__menu__items--sb-dboard">
  <nav class="ogb__menu__items__group ogb__menu__items__group--sb-dboard">
    <ul class="ogb__menu__items__list ogb__menu__items__list--sb-dboard">
      <li class="ogb__menu__items__list__node ogb__menu__items__list__node--sb-dboard">
        <a role="button" href="https://cloud.google.com/support">
          <span class="ogb__menu__items__icon ogb__menu__items__icon--sb-dboard"><i class="material-icons">feedback</i></span>
          <span class="ogb__menu__items__label ogb__menu__items__label--sb-dboard">Send feedback</span>
        </a>
      </li>
      <li class="ogb__menu__items__list__node ogb__menu__items__list__node--sb-dboard">
        <a role="button" href="https://cloud.google.com/support/">
          <span class="ogb__menu__items__icon ogb__menu__items__icon--sb-dboard"><i class="material-icons">help</i></span>
          <span class="ogb__menu__items__label ogb__menu__items__label--sb-dboard">Help</span>
        </a>
      </li>
      <li class="ogb__menu__items__list__node ogb__menu__items__list__node--sb-dboard">
        <a role="button" href="https://console.cloud.google.com">
          <span class="ogb__menu__items__icon ogb__menu__items__icon--sb-dboard"><i class="material-icons">settings</i></span>
          <span class="ogb__menu__items__label ogb__menu__items__label--sb-dboard">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
