<md-card ng-if="table">
  <md-card-title>
    <span class="md-headline" ng-bind="table.name"></span>
  </md-card-title>

  <md-card-content>
      <div layout="row">
      <table>
          <thead>
            <th>#</th>
            <th>Field name</th>
            <th>Field type</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="(k, v) in table.fields">
              <td><span ng-bind="$index + 1"></span></td>
              <td><span ng-bind="k"></span></td>
              <td><span ng-bind="v"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div layout="row" style="margin-top: 25px">
        <md-input-container style="width: 400px">
          <input ng-model="request.query" type="text" placeholder="Enter query"/>
        </md-input-container>
      </div>

      <div layout="row" style="margin-top: 25px">
        <table>
          <thead>
            <th ng-repeat="col in data.cols">
              <span ng-bind="col"></span>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="row in data.rows">
              <td ng-repeat="v in row">
                <span ng-bind="v"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </md-card-content>

  <md-card-actions layout="column" layout-align="center">
    <div layout="row">
      <md-button class="md-raised" ng-click="query()">Query</md-button>
      <md-button ng-click="back()">Back</md-button>
    </div>
  </md-card-actions>
</md-card>
