<md-toolbar class="md-theme-indigo" style="background-color: white; color: rgb(63,81,181)">
    <h1 class="md-toolbar-tools">Database content</h1>
  </md-toolbar>

  <md-card>
    <md-card-title>
      <span class="md-headline">Tables</span>
    </md-card-title>

    <md-card-content>
      <table>
        <thead>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="t in tables" ng-if="tables.length">
            <td><span ng-bind="$index + 1"></span></td>
            <td>
              <a class="link" href="#" ng-click="describeTable(t)">
                <span ng-bind="t"></span>
              </a>
            </td>
            <td>
                <md-button class="md-icon-button md-primary" aria-label="Delete" ng-click="deleteTable($index)">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="View" ng-click="viewTable($index)">
                    <md-icon md-font-set="material-icons">list</md-icon>
                </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="showTables()">Show</md-button>
      <md-button ng-click="createTable()">Create</md-button>
    </md-card-actions>
  </md-card>