
<md-toolbar class="md-theme-indigo" style="background-color: white; color: rgb(63,81,181)">
  <h1 class="md-toolbar-tools">Database content</h1>
</md-toolbar>

<md-card>
  <md-card-title>
    <span class="md-headline">{{table_name}} contents</span>
  </md-card-title>

  <md-card-content>
    <table>
      <thead>
        <th>#</th>
        <th ng-repeat="c in table.columns" ng-if="table.columns.length">
          <span ng-bind="c"></span>
        </th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="r in table.rows" ng-if="table.rows.length">
          <td><span ng-bind="$index + 1"></span></td>
          <td ng-repeat="c in table.columns" ng-if="table.columns.length">
              <span ng-bind="r[$index]"></span>
          </td>
          <td>
              <md-button class="md-icon-button md-primary" aria-label="View" ng-click="showUpdateForm($index)">
                  <md-icon md-font-set="material-icons">edit</md-icon>
              </md-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div layout="row">
      <!-- TODO: implement enable/disable when form is shown -->
      <md-button ng-click="showInsertForm()">Insert row</md-button>
    </div>
    <form name="editForm" ng-if="edit" class="md-dense" ng-hide="hide_edit" class="ng-hide">
        <div layout="row" ng-repeat="c in edit.columns" ng-if="edit.columns.length">
            <md-input-container>
              <label>{{c}}</label>
              <input ng-model="edit.values[c]">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container ng-if="edit.mode === 'insert'">
              <md-button ng-click="insertRow()">Insert more</md-button>
              <md-button ng-click="insertSingleRow()">Insert one</md-button>
            </md-input-container>
            <md-input-container ng-if="edit.mode === 'update'">
                <md-button ng-click="updateRow()">Update row</md-button>
            </md-input-container>
        </div>
      </form>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="goToTableList()">Table list</md-button>
  </md-card-actions>
</md-card>