// TODO: fix flex layout pkg
//
// mat-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//   flex: 0 0 40%;
// }

// mat-cell:nth-child(5),
// mat-header-cell:nth-child(2) {
//   flex: 0 0 60%;
// }

.table-name {
  color: #536dfe;
  font-weight: 500 !important;
}

.mat-header-cell {
  font-size: 1em;
}

.mat-icon-button {
  width: auto;
  display: inline-block;
  padding-right: 15px;
  color: #000000aa;
}

.mat-card-content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-table {
  width: 75%;
}
